* {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

QLabel#titleLabel {
    font-size: 24px;
    color: #0008ff;
    padding: 10px;
    text-align: center;
}

QLabel#errorLabel {
    color: #d9534f;
}

QPushButton {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #ccc;
    background-color: #333;
    padding: 0.25em 0.5em;
    position: relative;
}

QPushButton:hover {
    background-color: #4CAF50;
}

QPushButton:active {
    top: 2px;
    left: 2px;
}

QPushButton#connectButton,
QPushButton#executeButton {
    background-color: #3a86ff;
    border-color: #3a86ff;
}

QPushButton#connectButton,
QPushButton#returnButton {
    font-size: 18px;
}
